/* ==========================================================================
   My Custom skin
   ========================================================================== */

/* Colors */
$background-color: #f2f1ee !default;
$text-color: #30362f !default;
$muted-text-color: #53645f !default;
$primary-color: rgb(115, 132, 199) !default;
$border-color: mix(#c7c7c7, #57906e, 30%) !default;
$link-color: #ed4a42 !default;
$masthead-link-color: $primary-color !default;
$masthead-link-color-hover  : mix(#ffffff, $link-color, 20%) !default;
$navicon-link-color-hover: mix(#c4c4c4, $text-color, 80%) !default;
$link-color-hover           : mix(#000, $link-color, 20%) !default;
$footer-background-color: mix($primary-color, #b2ccd5, 40%) !default;
$code-background-color: mix(#b8b8b8, $background-color, 10%) !default;

.page__footer {
  color: rgb(255, 255, 255) !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

.ais-search-box .ais-search-box--input {
  background-color: mix(#ffffff, $background-color, 40%);
}

.pagination--pager {
  color: $text-color;
  background-color: mix(#ffffff, $background-color, 25%);
  border-color: transparent;
}