/* ==========================================================================
   My Custom skin
   ========================================================================== */

/* Colors */
$background-color: #edebea !default;
$text-color: #454f44 !default;
$muted-text-color: #696969 !default;
$primary-color: rgb(115, 130, 191) !default;
$border-color: mix(#c7c7c7, #629776, 60%) !default;
$link-color: #f1747e !default;
$masthead-link-color: $primary-color !default;
$masthead-link-color-hover  : mix(#ffffff, $link-color, 25%) !default;
$navicon-link-color-hover: mix(#c4c4c4, $text-color, 80%) !default;
$link-color-hover           : mix(#000, $link-color, 20%) !default;
$footer-background-color: mix($text-color, #b9b9b9, 30%) !default;
$code-background-color: mix(#656666, $background-color, 10%) !default;

.page__footer {
  color: rgb(220, 220, 220) !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

.ais-search-box .ais-search-box--input {
  background-color: mix(#ffffff, $background-color, 40%);
}

.pagination--pager {
  color: $text-color;
  background-color: mix(#ffffff, $background-color, 25%);
  border-color: transparent;
}